@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0e232c;
  --secondary-color: #022144;
  --info-color:#879fbb;
}
body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.navbar-position{
  position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; 
  left: 0; 
  z-index: 100000; 
}
.nav-bar {
  /* margin-bottom: 5px; */
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 70px;
}
.navbar-brand{
  color: #ffff;
  font-size: 20px;
}
.h1{
  margin-left: 350px;
  align-items: flex-start;
  display: flex;
  color: #ffff;
  margin-bottom: 30px;
}
.center-tab {
  justify-content: center;
  background-color: transparent;
}
.btn-search {
  margin-left: 10px;
}
.cursor {
  cursor: pointer;
}
.movieList {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.1s;
}
.movieItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 650px;
  margin-bottom: 20px;
  /* background-color: rgb(32, 20, 20); */
}
.movieItem > img {
  width: 300px;
  height: 500px;
  border-radius: 2%;
  object-fit: cover;
  flex-shrink: 0;
}
.movieItem > img:hover {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.movie-info {
  color: rgb(255, 255, 255);
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  flex: 1;
}
.title-rate {
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  align-items: center;
  flex-shrink: 0;
}
.rate {
  width: 40px;
  height: 30px;
  background-color: #49e60b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  font-size: 500;
  font-weight: 700;
}
.language-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* flex: 1; */
}
.search {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.search button {
  margin-left: 5px;
  border-radius: 5%;
  outline: none;
  border: none;
  width: 100px;
}
.search input {
  height: 50px;
}
.navbar-header {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar-header i {
  color: white;
}
.center {
  padding: 0 110px 0 340px;
  align-items: center;
}
.backDrop {
  width: 100%;
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px red solid; */
}
.backDrop img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.backDropHome{
  /* max-width: 50%; */
  padding-right: 30px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
.backDropHomeItem{
  display: flex;
  flex-direction: column;
  color: #ffff;
  height: 800px;
  position: relative;
  
}
.backDropHomeItemImg{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit:fill;
}
.backDropHomeItem h3{
  flex: 1;
}
.color-overlay {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.7;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-overlay1 {
  width: 100%;
  height: 100%;
  background: rgb(36, 35, 35);
  opacity: 0.7;
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.title-overView1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* background: rgb(141, 135, 135); */
  border-radius: 2%;
  width: 900px;
  height: 500px;
}
.title-overView1 p {
  width: 1000px;
  color: rgb(247, 247, 247);
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
}
.title-overView {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(59, 51, 51);
  border-radius: 2%;
  width: 900px;
  height: 550px;
}
.title-overView h6 {
  width: 500px;
  color: rgb(247, 247, 247);
  font-size: large;
  font-weight: 500;
}
h1 {
  color: rgb(255, 255, 255);
  z-index: 1;
}
.title-overView img {
  border-radius: 2%;
  opacity: 1;
}
/* .title-overView img:hover {
  -moz-box-shadow: 3px 3px 5px 6px #cccccc;
  -webkit-box-shadow: 3px 3px 5px 6px #cccc;
  box-shadow: 3px 3px 5px 6px #ccc;
} */
.title-ovewiew--item {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-ovewiew--item1 {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 315px;
}
.title-ovewiew--item1 h1 {
  /* margin-bottom: 380px; */
  font-size: 50px;
}
.info {
  width: 100%;
  height: 90px;
  background-color:transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.infoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.infoItem h3 {
  margin-left: 10px;
}
.cards {
  margin: 30px 300px 0px 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 5px;
}
.card-item {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.card-item img {
  width: 100%;
  border-radius: 2%;
}
.card-item h3 {
  align-items: center;
  justify-content: center;
  display: flex;
  color: #ffff;
}
.video{
  text-align: center ;
  margin-top: 10px;
}